.body1 {
    background-image: url(background1.png);
}

.body2 {
    background-image: url(background2.png);
}

.body3 {
    background-image: url(background3.png);
}

h1.page1 {
    color: white;
    font-size: 100px;
    padding-left: 10px;
    padding-top: 100px;
    float: left;
    position: relative;
    top: 100px;
    left: 10px;
}

h2.page1 {
    color: white;
    font-size: 40px;
    padding-left: 10px;
    position: relative;
    top: 350px;
    right: 675px;
}

h3.page1 {
    color: white;
    text-align: right;
    padding-right: 50px;
    font-size: 30px;
    padding-top: 50px;
    position: relative;
    bottom: 100px;
}

p.page1 {
    color: white;
    text-align: right;
    padding-right: 40px;
    font-size: 30px;
    position: relative;
    bottom: 100px;
}

ul.page1 {
    color: white;
    text-align: right;
    padding-right: 50px;
    font-size: 30px;
    list-style-position: inside;
    position: relative;
    bottom: 100px;
}

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

th {
    background-color: white;
    border-width: 3px;
    border-color: black;
    border-style: ridge;
    border-radius: 10px;
    font-size: 20px;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

ul {
    color: black;
    text-align: center;
    font-size: 20px;
    list-style-position: inside;
}

h1 {
    color: black;
    font-size: 50px;
    text-align: center;
    position: relative;
    top: 350px;
    right: 175px;
    
}

h3 {
    color: black;
    font-size: 50px;
    text-align: center;
}

h4 {
    color: black;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 325px;
    right: 175px;
    
}

.column1 {
    width: 45%;
    padding-left: 5%;
    float: left;
}

.column2 {
    width: 45%;
    padding-right: 5%;
    float: right;
}

form {
    position: relative;
    left:450px; 
    top: 400px;
    font-size: 20px;
}

.picture {
    float: right;
    border: 100px 50px black 5px;
}